{% extends 'base.html' %}

{% block head_title %}
    Your Subscription - {{block.super}}
{% endblock head_title %}


{% block content %}

    {% if subscription.is_active_status %}
    <h1>Are you sure you want to cancel</h1>
    <p>Plan name: {{ subscription.plan_name }}</p>
    <form action="" method="POST"> 
        {% csrf_token %}
        <button type="submit"> Yes, Cancel</button>
    </form>
    <a href="{{ subscription.get_absolute_url }}" > No, Keep Membership </a>
    {% else %}
    <h1>Your membership is not longer active.</h1>

    {% endif %}


<p>Plan name: {{ subscription.plan_name }}</p>

<p>Status: {{ subscription.status|title }}</p>

<p>Membership age: {{ subscription.original_period_start|timesince }} </p>
<p>Start: {{ subscription.current_period_start }}</p>

<p>End: {{ subscription.current_period_end|timeuntil }} ({{ subscription.current_period_end }})</p>

    
{% endblock content %}